
<h1>Please note these are for proof of conecpt to show how errors are being handled</h1>

<ng-container> 
    <button (click)='get500Error()' class="btn btn-primary mr-3">test 500 Error </button>
    <button (click)='get400Error()' class="btn btn-primary mr-3">test 400 Error </button>
    <button (click)='get401Error()' class="btn btn-primary mr-3">test 401 Error </button>
    <button (click)='get404Error()' class="btn btn-primary mr-3">test 404 Error </button>
    <button (click)='get400ValidationError()' class="btn btn-primary mr-3">test 400 Validation Error </button>

    <div class="row mt-5" *ngIf="validationError.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationError">
                {{error}}
            </li>
        </ul>
    </div>
    </ng-container>